<!--
<form  method="POST" action="/users" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Name:</label>
  <input name="user[name]" type="text"/>
  <br/>
  <label>Email:</label>
  <input name="user[email]" type="email"/>
  <br/>
  <label>Password:</label>
  <input name="user[password]" type="password"/>
  <br/>
  <input type="submit" value="Submit"/>
</form> -->
<!--
<%= form_tag '/users', method: :post do %>
<%= label_tag 'name'%>
<%= text_field_tag 'user[name]'%>
<br />
<%= label_tag 'email'%>
<%= email_field_tag 'user[email]'%>
<br />
<%= label_tag 'password'%>
<%= password_field_tag 'user[password]'%>
<br />
<%= submit_tag 'Submit'%>


<% end %>
-->
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prevented this user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @user do |f|%>

<%= f.label :name%>
<%= f.text_field :name %>
<br />
<%= f.label :email%>
<%= f.email_field :email %>
<br />
<%= f.label :password%>
<%= f.password_field :password %>
<br />
<%= f.submit 'Submit'%>

<% end %>